# ignore ALL log files
*.log

# ignore ALL env files
*.env

# ignore ALL files in ANY directory named node_modules
node_modules/

# ignore ALL files in ANY directory named dist
dist/

# ignore ALL files in ANY directory named keys
keys/